.chout-title {
  padding: 10px;
  padding-bottom: 0;
}
.order_details {
  display: flex;
}

.cart_details {
  width: 80%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px 10px;
  border-radius: 5px;
}

.cart_details h1 {
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

.chout-cart-list {
  height: auto;
  margin: 5px;
  padding: 10px 5px;
}

.chout-cartItem {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.chout-cartItem .item-content {
  display: grid;
  align-items: center;
  width: 75%;
  position: relative;
  grid-template-areas:
    "img name price remove"
    "img qty price remove";
  grid-template-columns: 70px 50% 20% 20%;
  margin: auto;
}

.item-content .img-box {
  max-width: 70px;
  max-height: 70px;
  grid-area: img;
}

.chout-cartItem .item-content img {
  max-width: 100% !important;
  max-height: 70px !important;
}

.item-content .pro-name {
  grid-area: name;
  font-size: 14px;
  color: #868282;
}

.item-content .qty-input {
  grid-area: qty;
}

.qty-input input[type="number"]::-webkit-inner-spin-button,
.qty-input input[type="number"]::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.qty-input input {
  appearance: none;
  width: 50px;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin: 8px;
}

.qty-input input:focus {
  outline: none;
  border: none;
}

.qty-input .icon {
  font-size: 12px;
  color: #2e2e2e;
  cursor: pointer;
}

.item-content .price-box {
  grid-area: price;
  font-size: 18px;
  font-weight: 600;
}

.item-content .remove-icon {
  grid-area: remove;
  color: #fe696a;
  font-size: 20px;
  cursor: pointer;
}

/* .chout-cartItem .item-content h3 {
  font-size: 14px;
  font-weight: 400;
  max-width: 400px;
  flex: 1;
}

.chout-cartItem .item-content input {
  max-width: 40px;
  margin-right: 30px;
  padding: 5px;
  outline: none;
  border-radius: 2px;
  border: 1px solid #0625f393;
}

.chout-cartItem i {
  margin-bottom: 5px;
  color: #fe696a;
  font-size: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
} */

.chout-subtotal {
  padding: 20px 0;
  border-bottom: 2px solid #eee;
  width: 80%;
  margin: auto;
}

.chout-subtotal div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.chout-total {
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
}

.btn-submit {
  padding: 10px 20px;
  width: 200px;
  outline: none;
  border: 1px solid #fe696a;
  border-radius: 7px;
  background: #fc381e;
  opacity: 0.9;
  margin: 5px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: 0.4s ease-out;
  cursor: pointer;
}

.chout-cart-list .t_cartlist {
  text-align: center;
  color: #868282;
}
