.p-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
}

.PayTypeSection {
  width: 50%;
  height: 100%;
}

.orderInfo {
  width: 50%;
  height: 100%;
}

.OI_container {
  padding: 10px;
  border: 1px solid #776c6c;
  width: 70%;
  box-shadow: 0px 0px 3px 0px #000;
}

.OI_title {
  font-size: 12px;
}

.item-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 12px;
}

.item-container p {
  max-width: 300px;
}

.OI_price {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 5px;
  font-size: 13px;
}

.OI_SubPrice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  justify-items: center;
}

.OI_SubPrice p:nth-child(-n + 2) {
  font-weight: bold;
}

.IO_total {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0;
}

.IO_delivery_info {
  padding: 8px;
  font-size: 18px;
}

.PayTypeSection button,
.PayTypeSection a {
  padding: 10px 20px;
  width: 200px;
  outline: none;
  border: 1px solid #fe696a;
  border-radius: 7px;
  background: #fc381e;
  opacity: 0.9;
  margin: 5px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  transition: 0.4s ease-out;
  cursor: pointer;
  margin: 15px;
}

.PayTypeSection a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.PayTypeSection a:hover {
  background-color: #cc402e;
}

.PayTypeSection #checkout-card {
  background: #3636ab;
  border-color: darkgrey;
}

.PayTypeSection #checkout-card:hover {
  background-color: #393979;
}

.PayTypeSection img {
  width: 300px;
}

.PayTypeSection h1 {
  width: 300px;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 20px;
  text-shadow: 4px 1px 7px #9a9a9a;
}
